.pagehead {
    color: rgb(230, 187, 134);
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlinks {
    display: flex;
    list-style: none;
    padding: auto;
}

.navitem {
padding-right: 2rem;
}

.navtext {
    color: cadetblue;
}

.site-title {
    font-size: 2.5rem;
    color:rgb(47, 197, 134);
    font-weight: 800;
}